h1 {
    color: deeppink;
}

.row {
    display: flex;
    flex-direction: row;
}
.cell {
    border: 1px solid #ccc;
    padding: 3px;
    width: 30px;
    height: 30px;
}
.opened {
    background-color: lightgray;
}
.marked {
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQUfcu1TUZODo5TFoKJbHmUT9qAnB01flqmwQ&usqp=CAU);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}